.AIDialogue {
  .myBubbleList {
    height: 80vh;
    margin-bottom: 12px;
    .aiBubble {
      .ant-bubble-content {
        background: #fff;
        p, ul {
          margin-bottom: 10px;
        }
      }
    }
    .userBubble {
      .ant-bubble-content {
        background: #e0dfff;
      }
    }
  }
}



